*.idea
.DS_Store
*.DS_Store
*.cache
*.pytest_cache
*.ipynb_checkpoints
*__pycache__
*.vscode

*.log
*.fits

*.egg-info
build/*
dist/*
build
dist
*.profile

zooniverse_login.txt
api_results.txt
!tests

pytype_output

data/workflow_contents
data/raw
auth_token.txt
data/preprocessed
data/votes