*.idea
.DS_Store
*.DS_Store
*.cache
*.pytest_cache
*.ipynb_checkpoints
*__pycache__
*.vscode

*.log
*.fits

*.egg-info
build/*
dist/*
build
dist
*.profile

zooniverse_login.txt
gzreduction/panoptes/api/zooniverse_login.json
api_results.txt
!tests

pytype_output

data/workflow_contents
data/raw
auth_token.txt
data/predictions
data/preprocessed
data/votes
data/streaming
temp/*