*.idea
.DS_Store
*.DS_Store
*.cache
*.pytest_cache
*.ipynb_checkpoints
*__pycache__
*.vscode

*.log
*.fits

*.egg-info
build/*
dist/*
build
dist
*.profile

zooniverse_login.txt
zooniverse_login.json
gzreduction/panoptes/api/zooniverse_login.json
api_results.txt
!tests

pytype_output

auth_token.txt
temp
temp_download_folder
data

data/expert_classifications_export.csv
data/*.csv
data/expert_classifications_export